# Project 2

The Titan Insurance Company has just installed a new incentive payment scheme for its lift policy sales force. 
It wants to have an early view of the success or failure of the new scheme. Indications are that the sales force is selling more policies, 
but sales always vary in an unpredictable pattern from month to month and it is not clear that the scheme has made a significant difference.

Life Insurance companies typically measure the monthly output of a salesperson as the total sum assured for the policies sold by that person during the month. 
For example, suppose salesperson X has, in the month, sold seven policies for which the sums assured are £1000, £2500, £3000, £5000, £10000, £35000. 
X's output for the month is the total of these sums assured, £61,500. 
Titan's new scheme is that the sales force receives low regular salaries but are paid large bonuses related to their output 
(i.e. to the total sum assured of policies sold by them). 
The scheme is expensive for the company, but they are looking for sales increases which more than compensate. 
The agreement with the sales force is that if the scheme does not at least break even for the company, it will be abandoned after six months.
The scheme has now been in operation for four months. It has settled down after fluctuations in the first two months due to the changeover.


To test the effectiveness of the scheme, Titan have taken a random sample of 30 salespeople measured their output in the penultimate month prior to changeover and then measured it in the fourth month after the changeover (they have deliberately chosen months not too close to the changeover). The outputs of the salespeople are shown in Table 1

# Questions

1)  Find the mean of old scheme and new scheme column. (5 points)

2)  Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised     outputs? (10 points)

3)  What conclusion does the test (p-value) lead to? (2.5 points)

4)  Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000 in the     
        scheme compared to the old scheme. If this figure is alternative hypothesis, what is:
    
        a) The probability of a type 1 error? (2.5 points)

        b) What is the p- value of the hypothesis test if we test for a difference of $5000? (10 points)

        c) Power of the test (5 points)

In [65]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline


from scipy import stats
from scipy.stats import ttest_1samp, ttest_ind, ttest_rel
from statsmodels.stats.power import ttest_power

In [66]:
# Reading all the data from the csv which is created on the basis of data given in question
sales = pd.read_csv('Project2.csv')
sales.head()

   SALESPERSON  OLD_SCHEME  NEW_SCHEME
0            1          57          62
1            2         103         122
2            3          59          54
3            4          75          82
4            5          84          84

In [67]:
#1) Find the mean of old scheme and new scheme column.

old_mean = sales['OLD_SCHEME'].mean()
new_mean = sales['NEW_SCHEME'].mean()

print(old_mean)
print(new_mean)

68.03333333333333
72.03333333333333

In [68]:
# 2)  Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?
# Before doing a five percent significance test, we need to define null hypothesis and alternate hypothesis.

# Null Hypothesis(H0):          New Scheme hasn't made significant changes in the output. That is: No change in the output
# Null Hypothesis(H0):          mean1 = mean2

# Alternate Hypothesis(H1):     New Scheme has made the changes in output. That is: Significant raise in the output
# Alternate Hypothesis(H1):     mean2 > mean 1

#where mean1 is mean of old data and mean2 is mean of new data

# Setting the alpha as .05 since it is 5% significance.

# Total data points are 30 which converges for a normalized data. Also this is a related data because we are 
# measuring the performance of same 30 salesman over a period of time.
#Using ttest for paired sample data by passing both the old_scheme and new_scheme data. 


alpha =0.05
t,p = ttest_rel(sales['NEW_SCHEME'],sales['OLD_SCHEME'] )
print(t,p)

if (p/2>alpha):
    print("Accept Null Hypothesis")
else:
    print("Reject Null Hypothesis")

1.5559143823544377 0.13057553961337662
Accept Null Hypothesis

3) What conclusion does the test (p-value) lead to?

 There is no significant change due to new scheme in the output. 
 
 There is insufficient evidence to reject the null hypothesis and hence we will accept the null hypothesis since p value =0.065
 
 This means we accept Null Hypothesis(H0) and Reject Alternate Hypothesis(H1). New scheme has not sufficiently raised the outputs.

4 a)  The probability of a type 1 error:

Significant level = 5%.  alpha = 0.05

Probability of Type 1 error = alpha = 0.05

In [69]:
# 4(b) What is the p- value of the hypothesis test if we test for a difference of $5000
# First increase the average of new data by 5000. 
# Creating new column in data frame which increases the average of 5K by adding 5 in all the values of NEW_SCHEME data

sales['LATEST_5'] = sales['NEW_SCHEME']+5
print(sales)

    SALESPERSON  OLD_SCHEME  NEW_SCHEME  LATEST_5
0             1          57          62        67
1             2         103         122       127
2             3          59          54        59
3             4          75          82        87
4             5          84          84        89
5             6          73          86        91
6             7          35          32        37
7             8         110         104       109
8             9          44          38        43
9            10          82         107       112
10           11          67          84        89
11           12          64          85        90
12           13          78          99       104
13           14          53          39        44
14           15          41          34        39
15           16          39          58        63
16           17          80          73        78
17           18          87          53        58
18           19          73          66        71
19           20          65          78        83
20           21          28          41        46
21           22          62          71        76
22           23          49          38        43
23           24          84          95       100
24           25          63          81        86
25           26          77          58        63
26           27          67          75        80
27           28         101          94        99
28           29          91         100       105
29           30          50          68        73

In [71]:
# 4b) What is the p- value of the hypothesis test if we test for a difference of $5000
# mean1 = for salesperson BEFORE change
# mean2 = for salesperson AFTER change scheme +5000 average increase


# Null Hypothesis(H0):          mean2 - mean1 <= 5000
# Alternate Hypothesis(H1):     mean2 - mean1 > 5000

# Setting the alpha as .05 since it is 5% significance

# Using the t test for paired sample data. 
alpha =0.05
t,p = ttest_rel(sales['LATEST_5'],sales['OLD_SCHEME'] )
print(t,p)

if (p/2>alpha):
    print("Accept Null Hypothesis")
else:
    print("Reject Null Hypothesis")

3.500807360297485 0.0015212146316676064
Reject Null Hypothesis

We reject null Hypothesis and accept that: "Increasing 5000 in the new scheme should break even and 
our alternate hypothesis is correct"

In [62]:
# 4c) To calculate power, we need effect_size. Effect_size can be calculated using various ways. We are choosing Cohen's D 
# formula, which takes the difference of both the mean and divides by union of standard deviation. 

# Computing effect_size

import math  
n1 =30
n2= 30
u2 = sales['OLD_SCHEME'].mean()
u1 = sales['LATEST_5'].mean()
s1 = sales['LATEST_5'].std(ddof =1)
s2 = sales['OLD_SCHEME'].std(ddof =1)
s = math.sqrt(((n1 - 1) * s1 + (n2 - 1) * s2) / (n1 + n2 - 2))

effect_size = (u1 - u2) / s
print(effect_size)
print(u2, u1)
print(s2,s1)
print(s)

# calculated Cohen's D (effect size). Effect size is coming as 1.90 which is very large.

1.907602376383051
68.03333333333333 77.03333333333333
20.455980212074454 24.062394946777697
4.717964346985474

In [72]:
#4c) Power of ttest
power = ttest_power(effect_size = 1.907, nobs=30,alpha=0.05)
print(power)

1.0