In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Removing the first empty row from dataset and setting the index without any header

laliga = pd.read_csv('Laliga.csv',  skiprows =1)
laliga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [3]:
# 1)  replace dashes with 0 
laliga.replace('-',0, inplace =True)
laliga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [4]:
# Converting required columns datatypes as integer before starting on calculations

#laliga.astype({'GamesPlayed': 'int64'}).dtypes
#laliga.astype("int64", errors="ignore")
laliga=laliga.apply(pd.to_numeric, errors='ignore')
laliga.dtypes

Pos               int64
Team             object
Seasons           int64
Points            int64
GamesPlayed       int64
GamesWon          int64
GamesDrawn        int64
GamesLost         int64
GoalsFor          int64
GoalsAgainst      int64
Champion          int64
Runner-up         int64
Third             int64
Fourth            int64
Fifth             int64
Sixth             int64
T                 int64
Debut            object
Since/LastApp    object
BestPosition      int64
dtype: object

In [5]:
#2) Print all the teams which have started playing between 1930-1980
#Debut is the column which will identify when team started playing. 

#print((laliga['Debut'] >'1930') & (laliga['Debut'] <'1980' ))
#laliga.loc[:,'Debut']
teamlist = laliga[(laliga['Debut'] >'1930') & (laliga['Debut'] <'1980' )]
print(teamlist['Team'])
teamlist['Team'].count()

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

37

In [6]:
#3) list of teams which came Top 5 in terms of points

laliga.sort_values('Points' ,ascending = False).head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [7]:
#4) Creating function goal difference and printing team name
# Method 1 to create function and implement it 

def Goal_diff_count():
    for i in range(len(laliga)):

#Created new column for finding the difference
        laliga['GoalDiff'] = laliga['GoalsFor']- laliga['GoalsAgainst']
    
#Printing the team names with their difference in the goal    
    print(laliga[['Team','GoalDiff']])
    
#Printing max and min values of goal difference with the team names    
    print(laliga.loc[laliga['GoalDiff']==laliga['GoalDiff'].max(), 'Team'], laliga['GoalDiff'].max())
    print(laliga.loc[laliga['GoalDiff']==laliga['GoalDiff'].min(), 'Team'], laliga['GoalDiff'].min())    
    return;

#Calling the function
Goal_diff_count()
    
#laliga.sort_values('GoalDiff', ascending ='False')

                   Team  GoalDiff
0           Real Madrid      2807
1             Barcelona      2786
2       Atletico Madrid      1225
3              Valencia       929
4       Athletic Bilbao       931
5               Sevilla       307
6              Espanyol      -280
7         Real Sociedad        -2
8              Zaragoza      -164
9            Real Betis      -333
10  Deportivo La Coruna      -136
11           Celta Vigo      -346
12           Valladolid      -413
13     Racing Santander      -525
14       Sporting Gijon      -399
15              Osasuna      -334
16               Malaga      -342
17               Oviedo      -309
18             Mallorca      -189
19           Las Palmas      -399
20           Villarreal       103
21              Granada      -338
22       Rayo Vallecano      -328
23                Elche      -272
24               Getafe      -113
25             Hercules      -334
26             Tenerife      -125
27               Murcia      -385
28               Alaves      -165
29              Levante      -202
..                  ...       ...
31             Sabadell      -228
32                Cadiz      -269
33             Logrones      -198
34            Castellon      -169
35             Albacete       -90
36              Almeria      -122
37              Cordoba      -145
38           Compostela       -42
39           Recreativo       -94
40            Burgos CF       -94
41           Pontevedra       -56
42             Numancia       -98
43                Eibar       -28
44               Arenas       -81
45          Real Burgos       -38
46            Gimnastic      -114
47          Extremadura       -55
48               Merida       -45
49             Alcoyano      -107
50                 Jaen       -62
51           Real Union       -31
52           AD Almeria       -45
53               Europa       -34
54               Lleida      -112
55              Leganes       -19
56                Xerez       -28
57               Condal       -20
58      Atletico Tetuan       -34
59     Cultural Leonesa       -31
60               Girona         0

[61 rows x 2 columns]
0    Real Madrid
Name: Team, dtype: object 2807
13    Racing Santander
Name: Team, dtype: object -525

In [9]:
#4) Creating function goal difference and printing team name
# Method 2 to implement the goal difference function

def Goal_diff_count():
    for i in range(len(laliga)):

#Created new column for finding the difference
        laliga['GoalDiff'] = laliga['GoalsFor']- laliga['GoalsAgainst']  
    
    temp = laliga[['Team','GoalDiff']]
    df1 = laliga.iloc[laliga.GoalDiff.idxmax(),1]
    df2 = laliga.iloc[laliga.GoalDiff.idxmin(),1]

    return temp, df1,df2;

#Calling the function and getting the teamnames with goal difference, team with maximum goal difference and minimum difference
tempdf, maxdf, mindf= Goal_diff_count()
print(tempdf)
print(maxdf)
print(mindf)

                   Team  GoalDiff
0           Real Madrid      2807
1             Barcelona      2786
2       Atletico Madrid      1225
3              Valencia       929
4       Athletic Bilbao       931
5               Sevilla       307
6              Espanyol      -280
7         Real Sociedad        -2
8              Zaragoza      -164
9            Real Betis      -333
10  Deportivo La Coruna      -136
11           Celta Vigo      -346
12           Valladolid      -413
13     Racing Santander      -525
14       Sporting Gijon      -399
15              Osasuna      -334
16               Malaga      -342
17               Oviedo      -309
18             Mallorca      -189
19           Las Palmas      -399
20           Villarreal       103
21              Granada      -338
22       Rayo Vallecano      -328
23                Elche      -272
24               Getafe      -113
25             Hercules      -334
26             Tenerife      -125
27               Murcia      -385
28               Alaves      -165
29              Levante      -202
..                  ...       ...
31             Sabadell      -228
32                Cadiz      -269
33             Logrones      -198
34            Castellon      -169
35             Albacete       -90
36              Almeria      -122
37              Cordoba      -145
38           Compostela       -42
39           Recreativo       -94
40            Burgos CF       -94
41           Pontevedra       -56
42             Numancia       -98
43                Eibar       -28
44               Arenas       -81
45          Real Burgos       -38
46            Gimnastic      -114
47          Extremadura       -55
48               Merida       -45
49             Alcoyano      -107
50                 Jaen       -62
51           Real Union       -31
52           AD Almeria       -45
53               Europa       -34
54               Lleida      -112
55              Leganes       -19
56                Xerez       -28
57               Condal       -20
58      Atletico Tetuan       -34
59     Cultural Leonesa       -31
60               Girona         0

[61 rows x 2 columns]
Real Madrid
Racing Santander

In [10]:
# 5) Create a new column with name “Winning Percent"
laliga['WinningPercent'] = (laliga['GamesWon']/laliga['GamesPlayed'])*100

# Replacing 0 for Nan values 
laliga.fillna(0, inplace =True)

# Setting up decimal point to 2places
laliga['WinningPercent'] = laliga['WinningPercent'].round(decimals = 2)
print(laliga[['Team','WinningPercent']])

# Printing top 5 teams on the basis of winning percentage
laliga.sort_values('WinningPercent' ,ascending = False).head(5)

                   Team  WinningPercent
0           Real Madrid           59.63
1             Barcelona           57.24
2       Atletico Madrid           47.48
3              Valencia           44.56
4       Athletic Bilbao           43.77
5               Sevilla           41.11
6              Espanyol           36.10
7         Real Sociedad           37.53
8              Zaragoza           35.15
9            Real Betis           35.07
10  Deportivo La Coruna           36.80
11           Celta Vigo           34.51
12           Valladolid           31.58
13     Racing Santander           31.72
14       Sporting Gijon           32.30
15              Osasuna           32.32
16               Malaga           31.08
17               Oviedo           34.23
18             Mallorca           33.70
19           Las Palmas           33.49
20           Villarreal           41.18
21              Granada           29.38
22       Rayo Vallecano           28.99
23                Elche           29.94
24               Getafe           32.24
25             Hercules           29.30
26             Tenerife           31.38
27               Murcia           24.74
28               Alaves           32.89
29              Levante           28.11
..                  ...             ...
31             Sabadell           30.28
32                Cadiz           23.21
33             Logrones           27.75
34            Castellon           30.84
35             Albacete           28.15
36              Almeria           27.19
37              Cordoba           29.08
38           Compostela           32.50
39           Recreativo           26.88
40            Burgos CF           28.92
41           Pontevedra           29.44
42             Numancia           24.34
43                Eibar           30.70
44               Arenas           33.08
45          Real Burgos           22.81
46            Gimnastic           29.31
47          Extremadura           25.00
48               Merida           23.75
49             Alcoyano           27.78
50                 Jaen           32.22
51           Real Union           29.17
52           AD Almeria           25.00
53               Europa           33.33
54               Lleida           19.12
55              Leganes           21.05
56                Xerez           21.05
57               Condal           23.33
58      Atletico Tetuan           23.33
59     Cultural Leonesa           16.67
60               Girona            0.00

[61 rows x 2 columns]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,GoalDiff,WinningPercent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,2807,59.63
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,2786,57.24
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,1225,47.48
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931-32,1987-88,1,929,44.56
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,931,43.77

In [11]:
#6)  Group teams based on their “Best position” and print the sum of their points for all positions
laliga.groupby(['BestPosition'])['Points'].sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64