## Linear Classifier in TensorFlow 
Using Low Level API in Eager Execution mode

### Load tensorflow

In [0]:
import tensorflow as tf
tf.set_random_seed(5)

In [0]:
tf.enable_eager_execution

In [0]:
!pip3 install -U tensorflow --quiet

     |████████████████████████████████| 86.3MB 137kB/s
     |████████████████████████████████| 3.8MB 32.1MB/s
     |████████████████████████████████| 450kB 49.9MB/s
     |████████████████████████████████| 81kB 10.5MB/s
ERROR: tensorboard 2.0.1 has requirement grpcio>=1.24.3, but you'll have grpcio 1.15.0 which is incompatible.
ERROR: google-colab 1.0.0 has requirement google-auth~=1.4.0, but you'll have google-auth 1.6.3 which is incompatible.

In [0]:
tf.__version__

'1.15.0'

In [0]:
#Enable Eager Execution if using tensflow version < 2.0
#From tensorflow v2.0 onwards, Eager Execution will be enabled by default

### Collect Data

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/TensorFlow/prices.csv')

### Check all columns in the dataset

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 851264 entries, 0 to 851263
Data columns (total 7 columns):
date      851264 non-null object
symbol    851264 non-null object
open      851264 non-null float64
close     851264 non-null float64
low       851264 non-null float64
high      851264 non-null float64
volume    851264 non-null float64
dtypes: float64(5), object(2)
memory usage: 45.5+ MB

In [0]:
data.describe().transpose()

           count          mean  ...           75%           max
open    851264.0  7.083699e+01  ...  7.988000e+01  1.584440e+03
close   851264.0  7.085711e+01  ...  7.989000e+01  1.578130e+03
low     851264.0  7.011841e+01  ...  7.911000e+01  1.549940e+03
high    851264.0  7.154348e+01  ...  8.061000e+01  1.600930e+03
volume  851264.0  5.415113e+06  ...  5.222500e+06  8.596434e+08

[5 rows x 8 columns]

### Drop columns `date` and  `symbol`

In [0]:
data.drop(['date','symbol'], axis =1, inplace =True)

In [0]:
data.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

### Consider only first 1000 rows in the dataset for building feature set and target set
Target 'Volume' has very high values. Divide 'Volume' by 1000,000

In [0]:
new_data = data.loc[0:999,:]

In [0]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
open      1000 non-null float64
close     1000 non-null float64
low       1000 non-null float64
high      1000 non-null float64
volume    1000 non-null float64
dtypes: float64(5)
memory usage: 39.2 KB

In [0]:
new_data.head()
new_data['volume']=new_data['volume'].div(1000000)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
new_data.head()

         open       close         low        high  volume
0  123.430000  125.839996  122.309998  126.250000  2.1636
1  125.239998  119.980003  119.940002  125.540001  2.3864
2  116.379997  114.949997  114.930000  119.739998  2.4895
3  115.480003  116.620003  113.500000  117.440002  2.0063
4  117.010002  114.970001  114.089996  117.330002  1.4086

### Divide the data into train and test sets

In [0]:
from sklearn.model_selection import train_test_split
import numpy as np

#### Convert Training and Test Data to numpy float32 arrays

In [0]:
x = new_data.drop('volume', axis =1)

In [0]:
y = new_data['volume']

In [0]:
xtrain,  xtest, ytrain, ytest = train_test_split(x,y,test_size =0.3,random_state =5)

In [0]:
train_x = np.array(xtrain).astype('float32')
train_y = np.array(ytrain).astype('float32')
test_x = np.array(xtest).astype('float32')
test_y = np.array(ytest).astype('float32')

### Normalize the data
You can use Normalizer from sklearn.preprocessing

In [0]:
from sklearn.preprocessing import Normalizer
transformer = Normalizer()
train_x = transformer.fit_transform(train_x)
test_x = transformer.fit_transform(test_x)

## Building the Model in tensorflow

1.Define Weights and Bias, use tf.zeros to initialize weights and Bias

In [0]:
w = tf.zeros(shape=(4,1))
b = tf.zeros(shape=(1))

2.Define a function to calculate prediction

In [0]:
def prediction(x, w, b):
    
    xw_matmul = tf.matmul(x, w)
    y = tf.add(xw_matmul, b)
    
    return y

3.Loss (Cost) Function [Mean square error]

In [0]:
def loss(y_actual, y_predicted):
    
    diff = y_actual - y_predicted
    sqr = tf.square(diff)
    avg = tf.reduce_mean(sqr)
    
    return avg

4.Function to train the Model

1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [0]:
def train(x, y_actual, w, b, learning_rate=0.01):
    
    #Record mathematical operations on 'tape' to calculate loss
    with tf.GradientTape() as t:
        
        t.watch([w,b])
        
        current_prediction = prediction(x, w, b)
        current_loss = loss(y_actual, current_prediction)
    
    #Calculate Gradients for Loss with respect to Weights and Bias
    dw, db = t.gradient(current_loss,[w, b])
    
    #Update Weights and Bias
    w = w - learning_rate*dw
    b = b - learning_rate*db
    
    return w, b

## Train the model for 100 epochs 
1. Observe the training loss at every iteration
2. Observe Train loss at every 5th iteration

In [0]:
#Train for 100 Steps
for i in range(100):
    
    w, b = train(train_x, train_y, w, b, learning_rate=0.01)
    print('Current Loss on iteration', i, 
          loss(train_y, prediction(train_x, w, b)))

Current Loss on iteration 0 Tensor("Mean_3:0", shape=(), dtype=float32)
Current Loss on iteration 1 Tensor("Mean_5:0", shape=(), dtype=float32)
Current Loss on iteration 2 Tensor("Mean_7:0", shape=(), dtype=float32)
Current Loss on iteration 3 Tensor("Mean_9:0", shape=(), dtype=float32)
Current Loss on iteration 4 Tensor("Mean_11:0", shape=(), dtype=float32)
Current Loss on iteration 5 Tensor("Mean_13:0", shape=(), dtype=float32)
Current Loss on iteration 6 Tensor("Mean_15:0", shape=(), dtype=float32)
Current Loss on iteration 7 Tensor("Mean_17:0", shape=(), dtype=float32)
Current Loss on iteration 8 Tensor("Mean_19:0", shape=(), dtype=float32)
Current Loss on iteration 9 Tensor("Mean_21:0", shape=(), dtype=float32)
Current Loss on iteration 10 Tensor("Mean_23:0", shape=(), dtype=float32)
Current Loss on iteration 11 Tensor("Mean_25:0", shape=(), dtype=float32)
Current Loss on iteration 12 Tensor("Mean_27:0", shape=(), dtype=float32)
Current Loss on iteration 13 Tensor("Mean_29:0", shape=(), dtype=float32)
Current Loss on iteration 14 Tensor("Mean_31:0", shape=(), dtype=float32)
Current Loss on iteration 15 Tensor("Mean_33:0", shape=(), dtype=float32)
Current Loss on iteration 16 Tensor("Mean_35:0", shape=(), dtype=float32)
Current Loss on iteration 17 Tensor("Mean_37:0", shape=(), dtype=float32)
Current Loss on iteration 18 Tensor("Mean_39:0", shape=(), dtype=float32)
Current Loss on iteration 19 Tensor("Mean_41:0", shape=(), dtype=float32)
Current Loss on iteration 20 Tensor("Mean_43:0", shape=(), dtype=float32)
Current Loss on iteration 21 Tensor("Mean_45:0", shape=(), dtype=float32)
Current Loss on iteration 22 Tensor("Mean_47:0", shape=(), dtype=float32)
Current Loss on iteration 23 Tensor("Mean_49:0", shape=(), dtype=float32)
Current Loss on iteration 24 Tensor("Mean_51:0", shape=(), dtype=float32)
Current Loss on iteration 25 Tensor("Mean_53:0", shape=(), dtype=float32)
Current Loss on iteration 26 Tensor("Mean_55:0", shape=(), dtype=float32)
Current Loss on iteration 27 Tensor("Mean_57:0", shape=(), dtype=float32)
Current Loss on iteration 28 Tensor("Mean_59:0", shape=(), dtype=float32)
Current Loss on iteration 29 Tensor("Mean_61:0", shape=(), dtype=float32)
Current Loss on iteration 30 Tensor("Mean_63:0", shape=(), dtype=float32)
Current Loss on iteration 31 Tensor("Mean_65:0", shape=(), dtype=float32)
Current Loss on iteration 32 Tensor("Mean_67:0", shape=(), dtype=float32)
Current Loss on iteration 33 Tensor("Mean_69:0", shape=(), dtype=float32)
Current Loss on iteration 34 Tensor("Mean_71:0", shape=(), dtype=float32)
Current Loss on iteration 35 Tensor("Mean_73:0", shape=(), dtype=float32)
Current Loss on iteration 36 Tensor("Mean_75:0", shape=(), dtype=float32)
Current Loss on iteration 37 Tensor("Mean_77:0", shape=(), dtype=float32)
Current Loss on iteration 38 Tensor("Mean_79:0", shape=(), dtype=float32)
Current Loss on iteration 39 Tensor("Mean_81:0", shape=(), dtype=float32)
Current Loss on iteration 40 Tensor("Mean_83:0", shape=(), dtype=float32)
Current Loss on iteration 41 Tensor("Mean_85:0", shape=(), dtype=float32)
Current Loss on iteration 42 Tensor("Mean_87:0", shape=(), dtype=float32)
Current Loss on iteration 43 Tensor("Mean_89:0", shape=(), dtype=float32)
Current Loss on iteration 44 Tensor("Mean_91:0", shape=(), dtype=float32)
Current Loss on iteration 45 Tensor("Mean_93:0", shape=(), dtype=float32)
Current Loss on iteration 46 Tensor("Mean_95:0", shape=(), dtype=float32)
Current Loss on iteration 47 Tensor("Mean_97:0", shape=(), dtype=float32)
Current Loss on iteration 48 Tensor("Mean_99:0", shape=(), dtype=float32)
Current Loss on iteration 49 Tensor("Mean_101:0", shape=(), dtype=float32)
Current Loss on iteration 50 Tensor("Mean_103:0", shape=(), dtype=float32)
Current Loss on iteration 51 Tensor("Mean_105:0", shape=(), dtype=float32)
Current Loss on iteration 52 Tensor("Mean_107:0", shape=(), dtype=float32)
Current Loss on iteration 53 Tensor("Mean_109:0", shape=(), dtype=float32)
Current Loss on iteration 54 Tensor("Mean_111:0", shape=(), dtype=float32)
Current Loss on iteration 55 Tensor("Mean_113:0", shape=(), dtype=float32)
Current Loss on iteration 56 Tensor("Mean_115:0", shape=(), dtype=float32)
Current Loss on iteration 57 Tensor("Mean_117:0", shape=(), dtype=float32)
Current Loss on iteration 58 Tensor("Mean_119:0", shape=(), dtype=float32)
Current Loss on iteration 59 Tensor("Mean_121:0", shape=(), dtype=float32)
Current Loss on iteration 60 Tensor("Mean_123:0", shape=(), dtype=float32)
Current Loss on iteration 61 Tensor("Mean_125:0", shape=(), dtype=float32)
Current Loss on iteration 62 Tensor("Mean_127:0", shape=(), dtype=float32)
Current Loss on iteration 63 Tensor("Mean_129:0", shape=(), dtype=float32)
Current Loss on iteration 64 Tensor("Mean_131:0", shape=(), dtype=float32)
Current Loss on iteration 65 Tensor("Mean_133:0", shape=(), dtype=float32)
Current Loss on iteration 66 Tensor("Mean_135:0", shape=(), dtype=float32)
Current Loss on iteration 67 Tensor("Mean_137:0", shape=(), dtype=float32)
Current Loss on iteration 68 Tensor("Mean_139:0", shape=(), dtype=float32)
Current Loss on iteration 69 Tensor("Mean_141:0", shape=(), dtype=float32)
Current Loss on iteration 70 Tensor("Mean_143:0", shape=(), dtype=float32)
Current Loss on iteration 71 Tensor("Mean_145:0", shape=(), dtype=float32)
Current Loss on iteration 72 Tensor("Mean_147:0", shape=(), dtype=float32)
Current Loss on iteration 73 Tensor("Mean_149:0", shape=(), dtype=float32)
Current Loss on iteration 74 Tensor("Mean_151:0", shape=(), dtype=float32)
Current Loss on iteration 75 Tensor("Mean_153:0", shape=(), dtype=float32)
Current Loss on iteration 76 Tensor("Mean_155:0", shape=(), dtype=float32)
Current Loss on iteration 77 Tensor("Mean_157:0", shape=(), dtype=float32)
Current Loss on iteration 78 Tensor("Mean_159:0", shape=(), dtype=float32)
Current Loss on iteration 79 Tensor("Mean_161:0", shape=(), dtype=float32)
Current Loss on iteration 80 Tensor("Mean_163:0", shape=(), dtype=float32)
Current Loss on iteration 81 Tensor("Mean_165:0", shape=(), dtype=float32)
Current Loss on iteration 82 Tensor("Mean_167:0", shape=(), dtype=float32)
Current Loss on iteration 83 Tensor("Mean_169:0", shape=(), dtype=float32)
Current Loss on iteration 84 Tensor("Mean_171:0", shape=(), dtype=float32)
Current Loss on iteration 85 Tensor("Mean_173:0", shape=(), dtype=float32)
Current Loss on iteration 86 Tensor("Mean_175:0", shape=(), dtype=float32)
Current Loss on iteration 87 Tensor("Mean_177:0", shape=(), dtype=float32)
Current Loss on iteration 88 Tensor("Mean_179:0", shape=(), dtype=float32)
Current Loss on iteration 89 Tensor("Mean_181:0", shape=(), dtype=float32)
Current Loss on iteration 90 Tensor("Mean_183:0", shape=(), dtype=float32)
Current Loss on iteration 91 Tensor("Mean_185:0", shape=(), dtype=float32)
Current Loss on iteration 92 Tensor("Mean_187:0", shape=(), dtype=float32)
Current Loss on iteration 93 Tensor("Mean_189:0", shape=(), dtype=float32)
Current Loss on iteration 94 Tensor("Mean_191:0", shape=(), dtype=float32)
Current Loss on iteration 95 Tensor("Mean_193:0", shape=(), dtype=float32)
Current Loss on iteration 96 Tensor("Mean_195:0", shape=(), dtype=float32)
Current Loss on iteration 97 Tensor("Mean_197:0", shape=(), dtype=float32)
Current Loss on iteration 98 Tensor("Mean_199:0", shape=(), dtype=float32)
Current Loss on iteration 99 Tensor("Mean_201:0", shape=(), dtype=float32)

### Get the shapes and values of W and b

In [0]:
#Check Weights and Bias
print('Weights:\n', w)
print('Bias:\n',b)

Weights:
 Tensor("sub_401:0", shape=(4, 1), dtype=float32)
Bias:
 Tensor("sub_402:0", shape=(1,), dtype=float32)

In [0]:
train_x[0]

array([0.50204444, 0.50088656, 0.4944026 , 0.5026234 ], dtype=float32)

### Model Prediction on 1st Examples in Test Dataset

In [0]:
with tf.Session() as sess:  
  val_2 =(prediction(test_x, w, b).eval())

In [0]:
val_2[0]

array([5.0377603], dtype=float32)

In [0]:
test_y[0]

38.4091

## Classification using tf.Keras

In this exercise, we will build a Deep Neural Network using tf.Keras. We will use Iris Dataset for this exercise.

### Load the given Iris data using pandas (Iris.csv)

In [177]:
iris = pd.read_csv('/content/drive/My Drive/Colab Notebooks/TensorFlow/Iris.csv')
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

In [178]:
df_occ = pd.get_dummies(data = iris['Species'], dummy_na = True)
df_occ = df_occ.rename(columns = {'Iris-setosa' : 'setosa','Iris-versicolor' : 'versicolor','Iris-virginica' : 'virginica'})
iris = pd.concat([iris, df_occ.iloc[:, 0:3]], axis = 1)
iris.head()

   Id  SepalLengthCm  SepalWidthCm  ...  setosa  versicolor virginica
0   1            5.1           3.5  ...       1           0         0
1   2            4.9           3.0  ...       1           0         0
2   3            4.7           3.2  ...       1           0         0
3   4            4.6           3.1  ...       1           0         0
4   5            5.0           3.6  ...       1           0         0

[5 rows x 9 columns]

In [0]:
iris.drop(['Species'], axis=1, inplace =True)

In [180]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  ...  setosa  versicolor  virginica
0   1            5.1           3.5  ...       1           0          0
1   2            4.9           3.0  ...       1           0          0
2   3            4.7           3.2  ...       1           0          0
3   4            4.6           3.1  ...       1           0          0
4   5            5.0           3.6  ...       1           0          0

[5 rows x 8 columns]

### Splitting the data into feature set and target set

In [0]:
x = iris.drop(['setosa','versicolor','virginica'], axis=1)
x.drop(['Id'], axis=1, inplace =True)
y = iris[['setosa','versicolor','virginica']]

In [191]:
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [192]:
y.head()

   setosa  versicolor  virginica
0       1           0          0
1       1           0          0
2       1           0          0
3       1           0          0
4       1           0          0

###  Building Model in tf.keras

Build a Linear Classifier model  <br>
1.  Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3<br> 
2. Apply Softmax on Dense Layer outputs <br>
3. Use SGD as Optimizer
4. Use categorical_crossentropy as loss function

In [193]:
x.shape

(150, 4)

In [194]:
y.shape

(150, 3)

In [0]:
from sklearn.model_selection import train_test_split
import numpy as np

In [0]:
xtrain,  xtest, ytrain, ytest = train_test_split(x,y,test_size =0.2,random_state =5)

In [197]:
xtrain.shape

(120, 4)

In [0]:
#Initialize Sequential model
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(1,input_shape=(4,)))


#Normalize the data
model.add(tf.keras.layers.BatchNormalization())

#Add Dense Layer which provides 10 Outputs after applying softmax
model.add(tf.keras.layers.Dense(3, activation='softmax'))

#Comile the model
model.compile(optimizer='sgd', loss='categorical_crossentropy', metrics=['accuracy'])

### Model Training

In [204]:
model.fit(xtrain, ytrain, 
          validation_data=(xtest, ytest), 
          epochs=50,
          batch_size=15)

Train on 120 samples, validate on 30 samples
Epoch 1/50
120/120 [==============================] - 0s 352us/sample - loss: 0.4751 - acc: 0.9167 - val_loss: 0.7664 - val_acc: 0.6333
Epoch 2/50
120/120 [==============================] - 0s 352us/sample - loss: 0.4759 - acc: 0.8750 - val_loss: 0.6975 - val_acc: 0.6667
Epoch 3/50
120/120 [==============================] - 0s 315us/sample - loss: 0.4500 - acc: 0.8833 - val_loss: 0.6403 - val_acc: 0.6667
Epoch 4/50
120/120 [==============================] - 0s 319us/sample - loss: 0.4600 - acc: 0.9083 - val_loss: 0.5948 - val_acc: 0.6667
Epoch 5/50
120/120 [==============================] - 0s 337us/sample - loss: 0.4580 - acc: 0.8917 - val_loss: 0.5580 - val_acc: 0.6667
Epoch 6/50
120/120 [==============================] - 0s 353us/sample - loss: 0.4427 - acc: 0.8750 - val_loss: 0.5263 - val_acc: 0.6667
Epoch 7/50
120/120 [==============================] - 0s 347us/sample - loss: 0.4733 - acc: 0.8500 - val_loss: 0.5000 - val_acc: 0.6667
Epoch 8/50
120/120 [==============================] - 0s 344us/sample - loss: 0.4283 - acc: 0.9083 - val_loss: 0.4799 - val_acc: 0.6667
Epoch 9/50
120/120 [==============================] - 0s 330us/sample - loss: 0.4473 - acc: 0.8917 - val_loss: 0.4625 - val_acc: 0.7000
Epoch 10/50
120/120 [==============================] - 0s 350us/sample - loss: 0.4480 - acc: 0.8833 - val_loss: 0.4493 - val_acc: 0.7000
Epoch 11/50
120/120 [==============================] - 0s 415us/sample - loss: 0.4619 - acc: 0.8333 - val_loss: 0.4380 - val_acc: 0.7667
Epoch 12/50
120/120 [==============================] - 0s 382us/sample - loss: 0.4967 - acc: 0.8417 - val_loss: 0.4276 - val_acc: 0.8000
Epoch 13/50
120/120 [==============================] - 0s 343us/sample - loss: 0.4686 - acc: 0.8167 - val_loss: 0.4195 - val_acc: 0.8000
Epoch 14/50
120/120 [==============================] - 0s 325us/sample - loss: 0.4262 - acc: 0.8500 - val_loss: 0.4134 - val_acc: 0.8000
Epoch 15/50
120/120 [==============================] - 0s 353us/sample - loss: 0.4474 - acc: 0.8667 - val_loss: 0.4089 - val_acc: 0.8333
Epoch 16/50
120/120 [==============================] - 0s 383us/sample - loss: 0.4448 - acc: 0.8250 - val_loss: 0.4055 - val_acc: 0.8667
Epoch 17/50
120/120 [==============================] - 0s 417us/sample - loss: 0.4636 - acc: 0.8750 - val_loss: 0.4024 - val_acc: 0.9000
Epoch 18/50
120/120 [==============================] - 0s 408us/sample - loss: 0.4186 - acc: 0.8667 - val_loss: 0.4005 - val_acc: 0.9000
Epoch 19/50
120/120 [==============================] - 0s 352us/sample - loss: 0.4104 - acc: 0.8917 - val_loss: 0.3986 - val_acc: 0.9000
Epoch 20/50
120/120 [==============================] - 0s 328us/sample - loss: 0.4417 - acc: 0.8417 - val_loss: 0.3973 - val_acc: 0.9000
Epoch 21/50
120/120 [==============================] - 0s 350us/sample - loss: 0.4019 - acc: 0.8667 - val_loss: 0.3966 - val_acc: 0.9000
Epoch 22/50
120/120 [==============================] - 0s 408us/sample - loss: 0.4078 - acc: 0.8750 - val_loss: 0.3958 - val_acc: 0.9000
Epoch 23/50
120/120 [==============================] - 0s 365us/sample - loss: 0.4572 - acc: 0.8417 - val_loss: 0.3955 - val_acc: 0.9000
Epoch 24/50
120/120 [==============================] - 0s 347us/sample - loss: 0.4216 - acc: 0.8583 - val_loss: 0.3954 - val_acc: 0.9000
Epoch 25/50
120/120 [==============================] - 0s 314us/sample - loss: 0.4354 - acc: 0.8250 - val_loss: 0.3956 - val_acc: 0.9000
Epoch 26/50
120/120 [==============================] - 0s 341us/sample - loss: 0.4241 - acc: 0.8500 - val_loss: 0.3956 - val_acc: 0.9000
Epoch 27/50
120/120 [==============================] - 0s 359us/sample - loss: 0.4043 - acc: 0.8333 - val_loss: 0.3957 - val_acc: 0.9000
Epoch 28/50
120/120 [==============================] - 0s 322us/sample - loss: 0.4202 - acc: 0.8750 - val_loss: 0.3959 - val_acc: 0.9000
Epoch 29/50
120/120 [==============================] - 0s 351us/sample - loss: 0.3817 - acc: 0.9083 - val_loss: 0.3960 - val_acc: 0.9000
Epoch 30/50
120/120 [==============================] - 0s 306us/sample - loss: 0.4044 - acc: 0.8333 - val_loss: 0.3965 - val_acc: 0.9000
Epoch 31/50
120/120 [==============================] - 0s 332us/sample - loss: 0.4177 - acc: 0.8250 - val_loss: 0.3959 - val_acc: 0.9000
Epoch 32/50
120/120 [==============================] - 0s 305us/sample - loss: 0.3991 - acc: 0.8750 - val_loss: 0.3964 - val_acc: 0.9333
Epoch 33/50
120/120 [==============================] - 0s 375us/sample - loss: 0.3889 - acc: 0.8667 - val_loss: 0.3969 - val_acc: 0.9333
Epoch 34/50
120/120 [==============================] - 0s 356us/sample - loss: 0.3767 - acc: 0.8833 - val_loss: 0.3965 - val_acc: 0.9667
Epoch 35/50
120/120 [==============================] - 0s 341us/sample - loss: 0.3879 - acc: 0.8833 - val_loss: 0.3965 - val_acc: 0.9667
Epoch 36/50
120/120 [==============================] - 0s 338us/sample - loss: 0.3878 - acc: 0.8917 - val_loss: 0.3950 - val_acc: 0.9667
Epoch 37/50
120/120 [==============================] - 0s 379us/sample - loss: 0.4143 - acc: 0.8250 - val_loss: 0.3950 - val_acc: 0.9667
Epoch 38/50
120/120 [==============================] - 0s 384us/sample - loss: 0.3642 - acc: 0.9000 - val_loss: 0.3948 - val_acc: 0.9667
Epoch 39/50
120/120 [==============================] - 0s 418us/sample - loss: 0.4012 - acc: 0.8167 - val_loss: 0.3947 - val_acc: 0.9667
Epoch 40/50
120/120 [==============================] - 0s 338us/sample - loss: 0.3678 - acc: 0.9000 - val_loss: 0.3941 - val_acc: 0.9667
Epoch 41/50
120/120 [==============================] - 0s 335us/sample - loss: 0.3933 - acc: 0.8667 - val_loss: 0.3963 - val_acc: 0.9667
Epoch 42/50
120/120 [==============================] - 0s 323us/sample - loss: 0.3841 - acc: 0.8667 - val_loss: 0.3953 - val_acc: 0.9667
Epoch 43/50
120/120 [==============================] - 0s 445us/sample - loss: 0.3793 - acc: 0.8583 - val_loss: 0.3961 - val_acc: 0.9333
Epoch 44/50
120/120 [==============================] - 0s 308us/sample - loss: 0.3725 - acc: 0.8833 - val_loss: 0.3972 - val_acc: 0.9333
Epoch 45/50
120/120 [==============================] - 0s 352us/sample - loss: 0.4035 - acc: 0.8333 - val_loss: 0.3975 - val_acc: 0.9333
Epoch 46/50
120/120 [==============================] - 0s 355us/sample - loss: 0.3449 - acc: 0.9250 - val_loss: 0.3970 - val_acc: 0.9333
Epoch 47/50
120/120 [==============================] - 0s 381us/sample - loss: 0.3832 - acc: 0.8667 - val_loss: 0.3965 - val_acc: 0.9333
Epoch 48/50
120/120 [==============================] - 0s 341us/sample - loss: 0.3964 - acc: 0.8500 - val_loss: 0.3978 - val_acc: 0.9000
Epoch 49/50
120/120 [==============================] - 0s 368us/sample - loss: 0.3906 - acc: 0.8000 - val_loss: 0.3950 - val_acc: 0.9333
Epoch 50/50
120/120 [==============================] - 0s 344us/sample - loss: 0.3595 - acc: 0.8917 - val_loss: 0.3958 - val_acc: 0.9000

### Model Prediction

In [208]:
ypred= model.predict(xtest)
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 1)                 5
_________________________________________________________________
batch_normalization_1 (Batch (None, 1)                 4
_________________________________________________________________
dense_3 (Dense)              (None, 3)                 6
=================================================================
Total params: 15
Trainable params: 13
Non-trainable params: 2
_________________________________________________________________

In [214]:
ypred[3].argmax()

0

### Save the Model

In [0]:
model.save('R6_iris.h5')

### Build and Train a Deep Neural network with 2 hidden layer  - Optional - For Practice

Does it perform better than Linear Classifier? What could be the reason for difference in performance?